body {
    font-family: sans-serif;
    color: #FBF5E3;
    background: #002B36;
    margin-left: 3em;
}
  
h1 {
    color: goldenrod;
}

input[type=text] {
    width: 50%;
    padding: 12px;
    margin: 2em;
    box-sizing: border-box;
    border-color: goldenrod;
    color : #002B36;
  }

